*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
Deepfake/extend/test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/extend/train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/extend/valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/no_attack/test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/no_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/no_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/paraphrase_by_llm/test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/paraphrase_by_llm/train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/paraphrase_by_llm/valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/perplexity_attack/test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/perplexity_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/perplexity_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/polish/test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/polish/train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/polish/valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/synonym/test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/synonym/train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/synonym/valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/de-en-test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/de-en-train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/de-en-valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/en-de/en-de-test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/en-de/en-de-train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/en-de/en-de-valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/en-zh/test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/en-zh/train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/en-zh/valid.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/test.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/train.jsonl filter=lfs diff=lfs merge=lfs -text
Deepfake/translate/valid.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/extend/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/extend/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/extend/valid.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/no_attack/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/no_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/no_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/paraphrase_by_llm/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/paraphrase_by_llm/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/paraphrase_by_llm/valid.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/perplexity_attack/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/perplexity_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/perplexity_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/polish/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/polish/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/polish/valid.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/synonym/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/synonym/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/synonym/valid.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/translate/de-en-test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/translate/de-en-train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/translate/en-de/en-de-test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/translate/en-de/en-de-train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/translate/en-zh/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/translate/en-zh/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/translate/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_monolingual/translate/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_multilingual/no_attack/test.jsonl filter=lfs diff=lfs merge=lfs -text
M4_multilingual/no_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
M4_multilingual/no_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/extend/train.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/no_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/perplexity_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/polish/train.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/synonym/train.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/translate/de-en-train.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/translate/en-de/en-de-train.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/translate/en-zh/train.jsonl filter=lfs diff=lfs merge=lfs -text
OUTFOX/translate/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/extend/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/extend/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/no_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/no_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/paraphrase/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/paraphrase/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/paraphrase_by_llm/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/paraphrase_by_llm/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/perplexity_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/perplexity_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/polish/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/polish/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/synonym/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/synonym/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/translate/de-en-train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/translate/de-en-valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/translate/en-de/en-de-train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/translate/en-de/en-de-valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/translate/en-zh/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/translate/en-zh/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/translate/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID/translate/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID_extra/no_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID_extra/no_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID_extra/paraphrase/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID_extra/paraphrase/valid.jsonl filter=lfs diff=lfs merge=lfs -text
RAID_extra/synonym/train.jsonl filter=lfs diff=lfs merge=lfs -text
RAID_extra/synonym/valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/extend/test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/extend/train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/extend/valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/no_attack/test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/no_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/no_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/paraphrase_by_llm/test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/paraphrase_by_llm/train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/paraphrase_by_llm/valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/perplexity_attack/test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/perplexity_attack/train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/perplexity_attack/valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/polish/test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/polish/train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/polish/valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/synonym/test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/synonym/train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/synonym/valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/de-en-train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/en-de/en-de-test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/en-de/en-de-train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/en-de/en-de-valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/en-zh/test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/en-zh/train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/en-zh/valid.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/test.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/train.jsonl filter=lfs diff=lfs merge=lfs -text
TuringBench/translate/valid.jsonl filter=lfs diff=lfs merge=lfs -text
